################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMP311/FileContentIndex
/helloworld/.vs/helloworld/FileContentIndex
/ClassRoster/.vs/ClassRoster/FileContentIndex
/TipCalculator
/MVCCalculator/.vs/MVCCalculator/FileContentIndex
/MVCClassRoster/.vs/MVCClassRoster/FileContentIndex
